body{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #5F4B8BFF;
}

.container{
    width: 400px;
}

#progress .times,.card-footer,.volume-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li.playing{
    background-color: gray;
    color: #fff;
}



