.jumbotron {
  height:100%;
  width:100%;
}
.container {
  width:1025px;
}
.jumbotron .container {
  max-width: 100%;
}
.div{
    display: flex;
    justify-content: center;
}
.card-img-overlay{
  font-size: larger;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fas{
  cursor: pointer;
}
body{
  background-color: #A9A9A9;
}
